* text=auto !eol
/AUTHORS -text
/ChangeLog -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/apertium-slk.pc.in -text
/apertium-slk.slk.dix -text
/autogen.sh -text
/configure.ac -text
/modes.xml -text
