* text=auto !eol
/AUTHORS -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-slk.pc.in -text
/apertium-slk.slk.dix -text
/autogen.sh -text
/configure.ac -text
dev/codes.txt -text
dev/slk.freq.categorised.txt -text
dev/wiktionary/adj.speling -text
dev/wiktionary/verbs.speling -text
/modes.xml -text
/slk.prob -text svneol=unset#unset
